body, html{
  margin: 0;
  padding: 0;
  max-width: 1280px;
  text-decoration: none;
}
.banner{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 720px;
}
.banner video{
  position: absolute;
  max-width: 1280px;
  min-height: 720px;
  z-index: 0;
}
.logo{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.3);
}

.logo img{
  width: 30%;
  text-align: center;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) ;
}

nav{
  margin: auto;
  padding: 0px 0;
  width: 100%;
  position: absolute;
  top: 650px;
  z-index: 100;
}
nav ul{
  margin: 0;
  padding: 0;
  width: 100%;
 text-align: center;
 background-color: rgba(0,0,0,0.0);
}

nav ul li{
 display: inline;
  margin: 0;
  padding: 0 3%;
  width: 10%;
  list-style: none;
  font-size: 14px;
  color: white;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.food_drink{
  width: 100%;
  background-image: url('../images/food_bg.png');
  /*-webkit-filter: brightness(0.3);
      filter: brightness(0.3);*/
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  position: relative;

}
.menu{
  width: 100%;
  height: 770px;
  position: relative;
  padding: 0;
  margin: 0;
}
.drink{
  height: 600px;
}
.tittle{
  padding: 30px 0 0 0 ;
  margin: 0;
  //position: absolute;
  z-index: 100;
}
/*
.food_tittle{
    top: 30px;
}
.drink_tittle{
    top: 30px;
}*/

.description
{
  width: 70%;
  line-height: 50px;
  letter-spacing: 15px;
  padding: 0px 0;
  margin: 0px 0;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
}
.food_text{
  float: left;
  position: absolute;
  top: 170px;
  left: 170px;
}
.drink_text{
  text-align: right;
  float: right;
  position: absolute;
  top: 170px;
  right: 100px;
}
.description *{
  color: white;
}
.description h1{
  font-size: 88px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
}
.description h2{
  font-size: 70px;
}
.description h3{
  font-size: 44px;

}
.description h4{
  font-size: 35px;
}
.description p{
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: none;
  text-align: justify;
  width: 50%;
  letter-spacing: normal;
  font-weight: normal;
  color: white;
  padding: 15px 0;
}
.plain_text{
  text-align: right;
  margin-right: 0;
  margin-left: auto;
  width: 50%;
}
.plain_text p{
  width: 100%;
}

.description input{
  color: white;
  font-size: 15px;
  background-color: transparent;
  border:solid white 2px;
  font-weight: bolder;
  margin: 15px 0;
  padding: 15px 30px;
}

.side_image{
  width: 40%;
  position: absolute;
}
.side_image img{
  width: 100%;
}
.food_image
{
  float: right;
  top: -5px;
  right: 0px;
}
.drink_image
{
  float: left;
  top: -150px;
  left: 0px;
}


.reservation{
  background-color: black;
  height: 200px;
  vertical-align: middle;
   position: relative
}

/*===== RESERVATION =====*/
.reservation *
{
  color: white;
  margin: 0;
  padding: 3px 0;
  vertical-align: middle;
}
.res_container h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 10px 0;
}
.res_container{
  width: 70%;
  margin: auto;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -70%) }
}
.reservation h1{
  padding-top: 10px 0 auto;
}

/*.reservation ul{
  text-align: center;
  margin: 0;
  padding: 0;
}
.reservation li{
  width: 25%;
  font-size: 15px;
  display: inline-block;
  border: 1px solid white  ;
  box-sizing: border-box;
  padding: 10px 6px;
  margin: 0;
  text-align: left;
  background-image: url('../images/arrow.png');
  background-repeat: no-repeat;
  background-position: right ;
  border-right: none;
}
.reservation li:last-child{
  border-right:1px solid white  ;
}*/

/**/
.res_container select{
  width: 25%;
  background-color: black;
  font-size: 18px;
}


/**/
/*==== NEWS ====*/
.news{
  width: 100%;
  text-align: center;
  background-image: url('../images/news_bg.png');
}
.news_tittle{
  padding-bottom: 20px;
}
.news_container{
  width: 100%;
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 30px 0;
}

.news_arrow{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}
.left_arrow{
  float: left;
}
.right_arrow{
  float: right;
}
.news_tag{
  width: 60%;
}

.news_text{
  width: 60%;
  margin: 0 auto;
  padding: 30px 0;
}
.news_text p{
  text-align: justify;
  font-size: 18px;
  padding-bottom: 50px;
}
/*=======GALLERY======*/
.photos{
  text-align: center;
}
.photos_tittle{
  padding-bottom: 30px;
}
.gallery img{
  padding: 0 0  20px 20px;
  margin: 0;
}
.photo_arrow img{
  padding: 10px 70px;
}
/*=======ACCESS======*/
.access{
  text-align: center;
}
.access_tittle{
  padding-top: 50px;
  padding-bottom: 30px;
}
.map{
  background-image: url('../images/access_bg.png');
  height: 600px;
}
.schedule{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 85px;
  padding-bottom: 100px;
  padding-left: 200px;

}
.schedule div{
  display: inline-block;
  text-align: center;
}

.info p{
  text-align: left;
}
.date{
  width: 25%;
}
.time{
  width: 70%;
}

.map p{
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 10px 0;
}
.address{
  padding: 5px 0;
}

.button input{
  color: white;
  font-weight: bold;
  font-size: 15px;
  background-color: transparent;
  border:solid white 2px;
  font-weight: bolder;
  margin: 15px 0;
  padding: 15px 30px;
}
/*===== Recruit ======*/
.recruit{
  text-align: center;
  background-image: url('../images/recruit_bg.png');
  background-repeat: no-repeat;
  padding-bottom: 50px;
}
.recruit_board{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 60%;
  border: solid 2px white;
  padding-bottom: 30px;
}
.recruit_board *{
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 15px;
}
.recruit_board h1{
  padding-top: 100px;
  font-size: 80px;
  font-weight: bolder;
}
.recruit_board h2{
  font-size: 65px;
}

.recruit_board h3{
    font-size: 18px;
    padding-top: 50px;
    padding-bottom: 5px;
    letter-spacing: 0px;
}
.apply{
  width: 20%;
  border-bottom: solid 1px white;
  margin:  30px auto;
}

/*===== CONTACT =====*/
.contact{
  background-image: url('../images/contact_bg.png');
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 50px;
}
.contact h2{
  color: white;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
}
.contact_board{
  padding-top: 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.form{
  padding-top: 30px;
}
.form *{
  display: inline-block;
}
.form div{
  text-align: right;
}

.what{
  width: 25%;
  padding-right: 15px;
}


.line{
  padding-left: 50px;
  width: 50%;
  border-bottom: solid 2px white;
  text-align: right;
}
.form_last{
  padding-top: 50px;
  padding-bottom: 50px;
}

/*===== FOOTER =====*/
.footer{
  height: 50px;
  padding-top: 10px;
  background-color: #ec9200;


}
.footer div{
  display: inline-block;
  width: 33%;
    text-align: center;
}

.network img{
  padding-left: 10px;
}

.back_side p{
  color: white;
  font-size: 15px;
}

/*--------------------------------*/
.clearfix:before,.clearfix:after {
content: " ";
display: table;
}

.clearfix:after {
clear: both;
}

.clearfix {
*zoom: 1;
}
